<app-header></app-header>
<div class ="container" align="center" >
  <div class="col-5">
    <form align="left">
      <br>
        <h3 align="center">Thêm Mới Nhân Viên</h3><br>
      <div class="form-group">
        <label for="manv">Mã Nhân Viên:</label>
        <input type="text" class="form-control" placeholder="Nhập mã nhân viên" id="manv">
      </div>
      <div class="form-group">
        <label for="name">Tên Nhân Viên:</label>
        <input type="text" class="form-control" placeholder="Nhập tên nhân viên" id="name">
      </div>
      <div class="form-group">
        <label for="ngaysinh">Ngày Sinh:</label>
        <input type="date" class="form-control" id="ngaysinh">
      </div>
      <div class="form-group">
        <label for="sdt">Số Điện Thoại:</label>
        <input type="number" class="form-control" placeholder="Nhập số điện thoại" id="sdt">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Nhập email"  id="email">
      </div>
      <div class="form-group">
        <label for="diachi">Địa Chỉ:</label>
        <input type="text" class="form-control" placeholder="Nhập địa chỉ"  id="diachi">
      </div>
      <div align="center"><button type="submit" class="btn btn-primary"  >Submit</button></div>
    </form>
  </div>
</div>
<app-footer></app-footer>
