<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Where the dream begin!!!!</h5>

        <p>
          Trang web đang hiện hành nhất hiện nay!!!
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!" class="text-dark">Giới thiệu</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Chính sách bảo mật</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Chính sách vận chuyển</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Hình thức thanh toán</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="fb.com" class="text-dark">FB</a>
          </li>
          <li>
            <a href="google.com" class="text-dark">Liên hệ</a>
          </li>
          <li>
            <a href="youtube.com" class="text-dark">Thông báo</a>
          </li>
          <li>
            <a href="binace.com" class="text-dark">Binace</a>
          </li>
        </ul>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">demo.com</a>
  </div>
  <!-- Copyright -->
</footer>

