<app-header></app-header>
<div class ="container" align="center" >
  <div class="col-5">
    <form align="left">
      <br>
      <h3 align="center">Thêm Khách Hàng Mới</h3><br>
      <div class="form-group">
        <label for="manv">Mã Khách Hàng:</label>
        <input type="text" class="form-control" placeholder="Nhập mã khách hàng" id="manv">
      </div>
      <div class="form-group">
        <label for="name">Tên Khách hàng:</label>
        <input type="text" class="form-control" placeholder="Nhập tên khách hàng" id="name">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" placeholder="Nhập email"  id="email">
      </div>
      <div class="form-group">
        <label for="sdt">Số Điện Thoại:</label>
        <input type="number" class="form-control" placeholder="Nhập số điện thoại" id="sdt">
      </div>
      <div class="form-group">
        <label for="ngaysinh">Ngày Sinh:</label>
        <input type="date" class="form-control" id="ngaysinh"> </div>

      <div class="form-group">
            <select name="cars" class="custom-select mb-4">
              <option selected>Mã Loại Khách hàng</option>
              <option value="volvo">Vip1</option>
              <option value="fiat">Vip2</option>
              <option value="audi">Thường</option>
            </select>
      </div>
      <div align="center"><button type="submit" class="btn btn-primary"  >Submit</button></div>
    </form>
  </div>
</div>
<app-footer></app-footer>
