<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Insert title here</title>
</head>
<body>
<div align="center">
    <h1>Edit Custumer</h1>
    <br />
    <form action="#" th:action="@{/save}" th:object="${customer}" method="post">

        <table border="0" cellpadding="10">
            <tr>
                <td>MaKhachHang:</td>
                <td>
                    <input type="number" th:field="*{MaKhachHang}" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <td>Ten Khach Hang:</td>
                <td><input type="text" th:field="*{TenKhachHang}" /></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="*{Gmail}" /></td>
            </tr>
            <tr>
                <td>So Dien Thoai:</td>
                <td><input type="number" th:field="*{SoDienThoai}" /></td>
            </tr>
            <tr>
                <td>Ngay Sinh:</td>
                <td><input type="text" th:field="*{NgaySinh}" /></td>
            </tr>
            <tr>
                <td>Ma Loai:</td>
                <td><input type="text" th:field="*{MaLoai}" /></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button> </td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>